{% extends "index.html" %}
{% load admin_static i18n %}

{% block content %}
<div class="content-container main-bg-color height-100">

	<div class="content">
	    <div class="container-fluid">

	    	<div class="row animated fadeIn">
	    		<div class="card col-md-4 col-md-offset-4 bg-dk-blue">
					<div class="header text-center">
                        <div class="">
                            <img ng-src="{{STATIC_URL}}images/hga_logo.png" alt="Melbourne Guitar Academy logo"/>
                        </div>
						<h5 class="margin-10 text-white">Password reset sent</h5>
						<p class="text-white">
							Check your email! We've emailed you instructions for resetting your password. You should receive it shortly.
						</p>
						<small class="text-white">
							If you don't receive an email, please make sure you've entered the email you registered with, and check your spam folder.
						</small>
					</div>

					<div class="content">
						<a href="/#/" class="">Back to login</a>
					</div>	    			
	    		</div>
	    	</div>

	    </div>
	</div>

</div>
{% endblock %}
